h1 {
    text-align: center;
    color:gold;
    font-size: 55px;
    font-family: 'Comic Sans MS', impact;
    /*background-color: black;  We can leave this if not we can take it off*/
    
}

body{
    background-image: url(../img/buildings.png);
    

}
body, html {
    height: 100%
}

.box {
    position: absolute;
    background-color:transparent;
    height: 100%;
    width: 20%;
    left:15%;

    
}
h2 {
    color:white;
    font-family: fantasy;
}
#first {
    border-color: black;
}

